:root{
  --bgcolor :#cde2db !important;
  --textcolor: #1e3632 !important;
  --btncolor:#fdf4e5 !important;
  --btn2color:#1e3632 !important;
  --btntext:#fdf4e5 !important
}

@font-face {
  font-family: "Tagesschrift";
  src: url("/fonts/Tagesschrift.woff2") format("woff2"),
       url("/fonts/Tagesschrift.woff") format("woff"),
       url("/fonts/Tagesschrift.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.tagesschrift-regular {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-style: normal;
}


.font-color{
    color:  var(--textcolor) ;
}

.header_color{
    background-color:var(--bgcolor);
}

.singup {
  position: relative;
}

.singup:hover .login_sub {
  opacity: 1;
  visibility: visible;
}

.button-color{
  background-color:  var(--btn2color);
  color: var(--btntext);
}

.button-color:hover{
  background-color:var(--bgcolor);
  color: var(--textcolor);
    font-weight: 500;
}

.login_sub {
  position: absolute;
  top: -40; /* aligned below the button */
  right: -8;
  width: max-content;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 999;
}

.logo-img {
  height: 60px;   /* fits neatly inside navbar */
  width: auto;    /* keeps aspect ratio */
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo-img {
    height: 45px; /* smaller on mobile */
  }
}

.sidebar-color{
  background-color: var(--textcolor);
  color: var(--bgcolor);
}

.admin-btn-color{
  background-color: var(--bgcolor) !important;
  color: var(--btn2color) !;
}

.sidebar-text-color{
  color: var(--bgcolor);
}

.admin {
  position: relative;
}

.admin_sub {
  position: absolute;
  right: 3%;
  top: 100%; /* adjust if needed */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: max-content;
  background-color: white;
  z-index: 100;
}

.admin:hover .admin_sub {
  opacity: 1;
  visibility: visible;
}