@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.category-tags {
  display: flex;
  flex-wrap: nowrap; /* Keep items in a single line */
  overflow-x: auto; /* Enable horizontal scroll if too many */
  scrollbar-width: thin; /* Firefox thin scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}

.category-tags::-webkit-scrollbar {
  height: 6px; /* Small horizontal scrollbar */
}

.category {
  white-space: nowrap;
  margin-top: 10px; /* Prevent text from breaking */
  padding: 8px 16px;
  /* border-radius: 20px; */
  /* background: #f5f5f5; */
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.category:hover {
  background: #ddd;
}

/* Divider between Nav links */
.menu-links a {
  position: relative;
  display: inline-block;
}

.menu-links a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0px; /* space between text and divider */
  top: 20%;
  height: 60%; /* divider height relative to text */
  border-right: 1px solid #0d0d0d; /* divider color */
}

/* Divider before icons */
.header-divider {
  border-left: 1px solid #0d0d0d;
  height: 30px;
  align-self: center;
}




